.bofang{width:120px;height:120px;border:#000000 solid 0px; float:left; position:fixed;z-index:"999" top:174px; left:196px; display:none;}
.s{
display:none; }
.d{
width:100px; height:20px; display:none; }
.f1:hover .ul
{
border:#000000 0px solid;left:-40px;
}
.f1:hover .s
{
display:block;width:60px; height:25px; color:#993366;position:relative; left:0px; top:0px; border-left:#996633 5px solid; }
.f1:hover .d
{
display:block;width:100px; height:20px;  color:#00FF00; border-radius:10px 0px 0px 0; border-left:#996633  5px solid;}
.f1{
width:30px; height:30px;   list-style:none; cursor:pointer; margin-left:5px; float:left; position:relative;top:0px; left:-40px; border-radius:25px;}
.f1 li img{
  transition:All 0.4s ease-in-out;
  -webkit-transition:All 0.4s ease-in-out;
  -moz-transition:All 0.4s ease-in-out;
  -o-transition:All 0.4s ease-in-out;
}
.f2 li img{
  transition:All 0.4s ease-in-out;
  -webkit-transition:All 0.4s ease-in-out;
  -moz-transition:All 0.4s ease-in-out;
  -o-transition:All 0.4s ease-in-out;
}
.f1 li img:hover{ 
transform: rotate( 540deg)scale(1.5,-1.5);
-o-transform: rotate( 540deg)scale(1.5,-1.5);
-webkit-transform: rotate(540deg)scale(1.5,-1.5);
-moz-transform: rotate( 5400deg)scale(1.5,-1.5);
}
.f2 li img:hover{ 
transform: rotate( 900deg)scale(1.5,-1.5);
-o-transform: rotate( 900deg)scale(1.5,-1.5);
-webkit-transform: rotate(900deg)scale(1.5,-1.5);
-moz-transform: rotate( 900deg)scale(1.5,-1.5);
}.f2:hover .ul
{
border:#000000 0px solid;  left:-40px;
}
.f2:hover .s
{
display:block;
width:60px; height:25px; color:#993366; position:relative; left:0px; top:0px; border-left:#996633 5px solid; }

.f2:hover .d
{
display:block;width:100px; height:20px;  color:#00FF00;  border-radius:10px 0px 0px 0; border-left:#996633  5px solid;}

.f2{
width:30px; height:30px;   list-style:none; cursor:pointer; margin-left:15px; float:left; position:relative; left:-40px;border-radius:25px;}
.f1:hover {
 

}

.f2:hover {
 
}

.ul{
margin:2px; position:relative; top:auto; left:20px;}
.f1:hover .s:hover {
border: #99CCCC outset 2px;border-radius:0px 10px 10px 0px; border-left: #996633 3px  outset;background: #FFFFFF}
 
.f2:hover .s:hover {
border: #99CCCC outset 2px; border-radius:0px 10px 10px 0px; border-left: #996633 3px  outset;background: #FFFFFF}
 .first{ width:300px; height:80px; border: solid 1px solid;  float:left; padding-left:0px; position:absolute; top:300px; left:150px; display:none}

  .chart{ width:260px; height:50px;  position:fixed;*position:absolute; top:160px; left:50px; float:left; display:none;}
 .s1{ width:100px;  height:20px; float:left; border: #000000 solid 0px;  position:relative; top:5px; left:10px; border-radius:30px; padding-left:5px; background-color: transparent;}
 .s2{ width:100px;    height:20px; float:left; border: #000000 solid 0px; position:relative; top:15px; left:10px; border-radius:30px; padding-left:5px; background-color: transparent;}
 .show{ width:150px; height:100px; border: #000000 solid 0px; float:right; margin-right:5px; margin-top:85px; position:fixed;*position:absolute; top:-240px; left:0px;}
.a{ border:#000000 solid 0px;float:left; width:600px; height:500px;position:fixed;* position:absolute; top:100px; left:200px; display:none;border:1px solid red;}

 /*
 .logo1{ position:absolute;top:200px; left:200px; float:right;}
 .logo1:hover{ 
transform: rotate( 180deg)scale(1,-1);
-o-transform: rotate( 180deg)scale(1,-1);
-webkit-transform: rotate(180deg)scale(1,-1);
-moz-transform: rotate( 180deg)scale(1,-1);
}
 
   
 .p{ position:relative;top:130px; left:550px; z-index:999; position:fixed; top:10%; left:10%}
  


*/