@charset "utf-8";
/* CSS Document */

/*头部导航栏*/
.header{width:100%;height:53px;background:#000;}
.notice{width:1200px;height:670px;margin:0 auto;}
/*左侧公告列表区*/
.notice .notice_left{border-radius:3px;width: 795px;margin:30px;padding:10px;padding-bottom: 30px;min-height: 350px;float: left;border:1px solid #ccc;box-shadow: 0 1px 2px #aaa;}
/*公告列表标题*/
.notice .notice_left .no-head{color: #f63;;clear: both;font-size: 22px;padding: 10px;width: 100%;}
/*公告列表*/
.notice .notice_left ul .news-list{list-style:none;border-left: 4px solid #fff;display: block;font-size: 14px;position: relative;}
.notice .notice_left ul .news-list p{border-bottom: 1px dotted #bfbfbf;height: 37px;line-height: 38px;font-size: 14px;}
.notice .notice_left ul .news-list a:hover{color:#f63;}
.notice .notice_left ul .news-list a{text-decoration:none;color:#000;}
.notice .notice_left ul .news-list .red{color: #cf2c2c;}
.notice .notice_left ul .news-list .date{font-size: 12px;color: #999;line-height: 37px;position: absolute;right: 0;top: 0;}



.notice .notice_left .no_page{width:228px;height:35px;margin:0 auto;margin-top:20px;}
.notice .notice_left .no_page ul{width:218px;height:22px;margin:6px auto;padding-left:7px;}
.notice .notice_left .no_page ul li{list-style:none;float:left;width:30px;height:20px;text-align:center;line-height:20px;margin:0 2px;border-radius:3px;}
.notice .notice_left .no_page ul li a{width:30px;height:20px;display:block;float:left;text-decoration:none;border-radius:3px;}
.notice .notice_left .no_page ul li a:hover{background:#f63;color:#fff;}
/*公告右侧区*/
.notice .notice_right{width:305px;height:542px;margin-top:30px;float:left;}
.notice .notice_right .no_search{width:300px;height:50px;}
.notice .notice_right .no_search .search_input{width: 200px;height: 30px;margin: 8px;float:left;line-height:30px;border:1px solid #ccc;border-radius:4px;}
.notice .notice_right .no_search .search_a{margin: 7px 0;float: left;display: block;text-decoration: none;width: 68px;height: 31px;border: 1px solid #dedede;border-radius:4px;text-align:center;line-height:31px;color:#000;}
.notice .notice_right .no_img{width:300px;height:147px;margin:10px 0;}




















